:root {
  --background-strong: #002b36;
  --icon-hover: #073642;
  --text-primary: #586e75;
  --text-secondary: #657b83;
  --text-muted: #93a1a1;
  --panel-background: #eee8d5;
  --page-background: #fdf6e3;
  --source-color: #b58900;
  --jesus-color: #cb4b16;
  --address-color: #dc322f;
  --story-color: #d33682;
  --footnote-color: #6c71c4;
  --cross-reference-color: #268bd2;
  --accent-commentary: #586e75;
  --highlight-positive: #859900;
}

::selection {
  color: var(--cross-reference-color);
  background-color: var(--panel-background);
}

body {
  background-color: var(--panel-background);
  color: var(--text-primary);
}

h2 {
  color: var(--page-background);
  text-shadow: 1px 1px var(--cross-reference-color);
}

a {
  color: var(--cross-reference-color);
}

input {
  background-color: var(--page-background);
}

.cross-reference {
  color: var(--cross-reference-color);
}

.textus {
  background-color: var(--page-background);
}

.pericope + .pericope {
  border-top-color: var(--text-muted);
}

.didascalia-handle,
.icon-button {
  color: var(--text-muted);
}

.didascalia-handle:hover,
.didascalia-handle:focus-visible,
.icon-button:hover,
.icon-button:focus-visible {
  color: var(--icon-hover);
}

.selected-address,
.verse.selected {
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  text-decoration-line: underline;
  text-decoration-color: var(--highlight-positive);
}

.selected-address {
  color: var(--highlight-positive);
}

.address,
.search-result-address,
.address input {
  color: var(--address-color);
}

.source,
.search-result-source,
.source input,
.source-option-name, .source-language {
  color: var(--source-color);
}

.list {
  background-color: var(--page-background);
  border-color: var(--text-muted);
  color: var(--text-secondary);
}

.source-language {
  background-color: var(--panel-background);
}

.source-option:hover,
.search-result:hover {
  background-color: var(--panel-background);
}

.story-title {
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  text-decoration-line: underline;
  text-decoration-color: var(--story-color);
}

.cross-references-loading,
.cross-references-empty,
.commentary,
.commentary-text {
  color: var(--accent-commentary);
}

.commentary-text *,
.commentary-marker,
.verse e,
.verse n,
.verse f {
  color: var(--text-muted);
}

.story-address {
  color: var(--story-color);
}

.verse::before {
  color: var(--address-color);
}

.verse m,
.verse s {
  color: var(--footnote-color);
}

.verse j {
  color: var(--jesus-color);
}
