:root {
  --base03:  #002b36;
  --base02:  #073642;
  --base01:  #586e75;
  --base00:  #657b83;
  --base0:   #839496;
  --base1:   #93a1a1;
  --base2:   #eee8d5;
  --base3:   #fdf6e3;
  --yellow:  #b58900;
  --orange:  #cb4b16;
  --red:     #dc322f;
  --magenta: #d33682;
  --violet:  #6c71c4;
  --blue:    #268bd2;
  --cyan:    #2aa198;
  --green:   #859900;
}

::selection {
  color: var(--blue);
  background-color: var(--base2);
}

body {
  background-color: var(--base2);
  color: var(--base01);
}

h2 {
  color: var(--base3);
  text-shadow: 1px 1px var(--blue);
}

a {
  color: var(--blue);
}

input {
  background-color: var(--base3);
}

.cross-reference {
  color: var(--blue);
}

.textus {
  background-color: var(--base3);
}

.pericope + .pericope {
  border-top-color: var(--base1);
}

.didascalia-handle,
.didascalia-duplicate,
.didascalia-remove {
  color: var(--base1);
}

.didascalia-handle:hover,
.didascalia-handle:focus-visible,
.didascalia-duplicate:hover,
.didascalia-duplicate:focus-visible,
.didascalia-remove:hover,
.didascalia-remove:focus-visible {
  color: var(--base02);
}

.selected-address,
.verse.selected {
  color: var(--green);
}

.address,
.search-result-address,
.address input {
  color: var(--red);
}

.source,
.search-result-source,
.source input,
.source-option-name, .source-language {
  color: var(--yellow);
}

.list {
  background-color: var(--base3);
  border-color: var(--base1);
  color: var(--base00);
}

.source-language {
  background-color: var(--base2);
}

.source-option:hover,
.search-result:hover {
  background-color: var(--base2);
}

.cross-references-loading,
.cross-references-empty,
.commentary,
.commentary-text {
  color: var(--base01);
}

.commentary-text *,
.verse e,
.verse n,
.verse f {
  color: var(--base1);
}

.commentary-marker {
  color: var(--magenta);
}

.verse::before {
  color: var(--red);
}

.verse s {
  color: var(--violet);
}

.verse m {
  color: var(--magenta);
}

.verse j {
  color: var(--orange);
}
