body {
  margin: 2em 0;
}

h2 {
  margin-top: -1em;
  margin-bottom: 0;
}

.pericope {
  display: flex;
  max-width: 70em;
  margin: auto;
}

.didascalia {
  width: 6em;
  padding: 1em 0;
  font-size: medium;
  text-align: center;
}

.didascalia .address {
  margin: 0.5em 0;
}

.didascalia-handle-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25em;
}

.didascalia-remove {
  padding: 0;
}

.didascalia-duplicate {
  padding: 0;
}

.margin {
  padding: 1em;
  width: 6em;
}

.didascalia .address.editing input,
.didascalia .source.editing input {
  width: 100%;
  box-sizing: border-box;
}

.list {
  border-width: 1px;
  border-style: dashed;
  max-height: 15em;
  overflow: auto;
}

.source-list {
  padding: 0;
  position: absolute;
  top: auto;
  left: auto;
}

.source-language {
  padding: 0.5em;
}

.source-options {
  padding: 0;
  margin: 0;
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
}

.source-option + .source-option {
  border-top: 1px solid var(--panel-background);
}

.source-option {
  padding: 0.5em;
}

.textus {
  padding: 1em;
  flex: 1;
  font-size: 1.2em;
}


.cross-references,
.commentaries {
  padding: 0 0.5em;
  margin: 0;
}

.cross-reference {
  cursor: pointer;
  margin: 0.3em 0;
}

.commentary-marker {
  margin-right: 0.3em;
}

.commentary-text .verseid,
.commentary-text .appHeadEm,
.commentary-text .appHeadInfoLinks,
.commentary-text .vuid,
.commentary-text .vudesc,
.commentary-text .versetext,
.commentary-text .rdgtype,
.commentary-text .ecnum {
  display: none;
}

.verse::before {
  content: attr(data-verse);
  margin-right: 0.2em;
}

.verse {
  display: inline;
}

.verse + .verse::before {
  margin-left: 0.4em;
}

.verse s::before {
  content: "#";
}

.app-footer {
  width: 100%;
  margin: 2em 0;
}

.margin > * {
  margin-bottom: 0.5em !important;
}
