@media (max-width: 570px) {
  .pericope {
    flex-direction: column;
  }

  .didascalia, .didascalia-header, .cross-references {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .didascalia .address, .cross-reference {
    text-wrap-mode: nowrap;
  }

  .didascalia,
  .margin {
    padding: 0 1em;
  }
}

