@media (max-width: 570px) {
  .pericope, .note {
    flex-direction: column;
  }

  .didascalia, .didascalia-header, .cross-references {
    flex-direction: row;
  }

  .cross-references {
    flex-wrap: wrap;
    gap: 0.5em;
  }

  .didascalia input {
    width: 8em !important;
  }

  .note-add {
    width: 1.5em;
    height: 1.5em;
    margin: -1em auto 0 auto;
  }

  .didascalia,
  .margin {
    padding: 0 1em;
    width: auto;
  }
}
