@media (max-width: 570px) {
  .didascalia .didascalia-header {
    flex-direction: column;
  }

  .didascalia-handle-group {
    flex-direction: row;
    gap: 0.5em;
  }

  .didascalia *, .margin * {
    font-size: x-small;
  }

  .didascalia .address.editing input,
  .didascalia .source.editing input {
    max-width: 100%;
  }
}

