@media (max-width: 570px) {
  .didascalia, .margin {
    max-width: 3em;
    padding: 1em 0.2em;
  }

  .didascalia .didascalia-header {
    flex-direction: column;
  }

  .didascalia-handle-group {
    flex-direction: row;
    gap: 0.5em;
  }

  .didascalia .address, .didascalia .source, .didascalia .selected-address {
    font-size: x-small;
    text-align: center;
  }

  .didascalia .address.editing input,
  .didascalia .source.editing input {
    max-width: 100%;
  }
}

